<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{title}}</title>
        <!--Bootstrap CSS-->
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
            crossorigin="anonymous">
    </head>
    <body class="bg-dark text-light">
        <div class="container">
            <div class="d-flex justify-content-center">

                <div class="card mt-3 text-dark text-center" style="width: 100%;">
            
                    <div class="card-header">
                        <h1>{{title}}</h1>
                    </div>
            
                    <div class="card-body">
            
                        <div class="alert alert-{{tipo}}" role="alert">
                            {{mensagem}}
                        </div>
            
                        <form method="post">
            
                            <div class="form-group">
                                <label>Função Profissional</label>
                                <input type="text" name="FuncaoProfissional" class="form-control" placeholder="Ex: Cabeleireiro" value="{{FuncaoProfissional}}" required autofocus>
                                    
                            </div>
            
                            <div class="form-group my-2">
                                <label>Horarios de atendimento</label>
                                <div class="row {{diaP}} my-1">
                                    <label>{{dia}}</label>
                                    <div class="col">
                                        <label>hora inicial</label>
                                        <select class="form-control" id="{{diaP}}Ini" name="{{diaP}}Ini">
                                            <option value="{{value}}" {{selected}}>{{label}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label>Almoço:ida</label>
                                        <select class="form-control" id="{{diaP}}Ida" name="{{diaP}}Ida">
                                            <option value="{{value}}" {{selected}}>{{label}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label>Almoço:Volta</label>
                                        <select class="form-control" id="{{diaP}}Vol" name="{{diaP}}Vol"> 
                                            <option value="{{value}}" {{selected}}>{{label}}</option>
                                        </select>
                                    </div>
                                    <div class="col">
                                        <label>hora final</label>
                                        <select class="form-control" id="{{diaP}}Fim" name="{{diaP}}Fim">
                                            <option value="{{value}}" {{selected}}>{{label}}</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
            
                            <div class="form-group my-2">
                                <div class="row Feriados">
                                    <label>Trabalha em Feriados? Marcar campos se positivo</label>
                                    <div class="form-check col feriadoNacio">
                                        <input class="form-check-input" type="checkbox" name="feriadoNacio" value="1" id="feriadoNacio">
                                        <label class="form-check-label" for="defaultCheck1">Feriado Nacional</label>
                                    </div>
            
                                    <div class="form-check col feriadoEstad">
                                        <input class="form-check-input" type="checkbox" name="feriadoEstad" value="1" id="feriadoEstad">
                                        <label class="form-check-label" for="defaultCheck1">Feriado Nacional</label>
                                    </div>
                                </div>
                            </div>
                            <button type="submit" class="btn btn-lg btn-danger">Salvar</button>
            
                        </form>
            
                        <a href="{{URL}}/user">
                            <button type="button" class="btn">Página Inícial</button>
                        </a>
            
                    </div>
                </div>
            
            </div>
            
        </div>
        <!--Bootstrap JS-->
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
            
            <script src="{{URL}}/app/resources/js/pages.js"></script>
    </body>
</html>